<h1>Login</h1>

<%= bootstrap_form_tag url: '/login' do |form| %>

  <%= form.text_field :email, required: true %>
  <%= form.password_field :password, required: true %>
  <%= form.submit %>

<% end %>